* {
	margin: 0;
	padding: 0;
	font-family: Segoe UI;
}

body {
	background-color: #E3E3E3;
}

.judul {
	text-align: center;
}

.container1 {
	background-color: white;
	width: 400px;
	height: 500px;

	border-radius: 3px;
	border: 1px transparent;
	margin: 0 auto;
	margin-top: 50px;

}

img {
	width: 250px;
	height: 100px;
	margin-left: 45px;
	margin-top: 15px;
}


.login {
	height: 40px;
	width: 260px;
	color: #707070;
	font-size: 15px;
	border: 1px solid;
	border-color: #6b8e23;
	margin-left: 42px;
	margin-top: 10px;
	padding-left: 10px;
}

.tombol {
	width: 80px;
	height: 30px;
	background-color: #6b8e23;
	color: white;
	font-size: 15px;
	border: 2px solid #6b8e23;
	margin-top: 20px;
	margin-left: 222px;
}



.cekbox {
	font-size: 15px;
	color: #707070;
	margin-left: 45px;
	margin-top: 10px;
}

i{
	color: white;

}

h2{
	color: #6b8e23;
}
/*
button{
	background-color: white; 
	float: right;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: #99cb32;
}*/
